*{
    margin: 0%;
    padding: 0%;
}
body, html{
    
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.shape{
    margin: 10px;
    height: 200px;
    width: 200px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

#three{
  border-radius: 50%; 
}
#three:hover{
    background-color: aquamarine; 
}

#two{
    rotate: 45deg;
    margin-top: 50px;
}
#two:hover{
    background-color: burlywood;
}
#one:hover{
    background-color: chartreuse;
}

#two h1{
    rotate: -45deg;
}